.meAndMyWonderfulNameCalledMeiscoolbutmoIInventedItALongTimeAgoAsAScratchUsernameInTheYearTwentyTwenty {
  height: 100px;
  width: auto;
}
      @font-face {
    font-family: "ComicNeue";
    src: url("ComicNeue-Regular.ttf") format("truetype"),
        url("ComicNeue-Regular.woff") format("woff"),
        url("ComicNeue-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
       @font-face {
        font-family: "ComicNeue";
        src: url("ComicNeue-Bold.ttf") format("truetype"),
        url("ComicNeue-Bold.woff") format("woff"),
        url("ComicNeue-Bold.woff2") format("woff2");
        font-weight: bold;
        font-style: normal;
       }
 p {
      font-weight: normal;
      max-width: 55%;
      margin: 0 auto;
  }

      body {
          text-align: center;
        font-family: "ComicNeue";
        font-weight: normal;
        font-size: 20px;
        background: linear-gradient(to bottom, #e1e7f5 ,#c2b8dc);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
          }
      h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
  }
      .lineCreatureMcNuggets {
  width: 60%;
  height: 4px;
  background-color: black;
  border: none;
  margin: 1em auto;
      }
        
[data-tab-content] {
  display: none;
  
}
        
.active[data-tab-content] {
  display: none;
  display: block;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab {
  cursor: pointer;
  padding: 10px;
  
}

.tab.active {
  background-color: #C3B9DF;
  
}

.tab:hover {
  background-color: #AB9AC9;
  
}

@media (max-width: 768px) {
  p {
    max-width: 90%;
  }
    body {
      font-size: 15px;
  }
  .meAndMyWonderfulNameCalledMeiscoolbutmoIInventedItALongTimeAgoAsAScratchUsernameInTheYearTwentyTwenty {
  height: 70px;
  width: auto;
  }
}
